<link rel="stylesheet" href="bootstrap.min.css">

<div class="container mt-5">
  <div class="text-center">
    
    <div>
      <h2>Opção 1</h2>
      <p>Clique no botão abaixo</p>
      <button id="buttonShowDateTextField" class="btn btn-primary">Continuar</button>

      <div id="method1" class="mt-3" style="display: none">
        <input id="dateTextField" type="text" class="form-control" placeholder="Digite uma data (Ex: MM/DD/YYYY)">
        <button type="button" class="btn btn-success mt-3" onclick="prepareFormatDate('#dateTextField', '#errorMethod1')">Formatar</button>
        <p id="errorMethod1" class="text-danger"></p>
      </div>
    </div>

    <div class="mt-5">
      <h2>Opção 2</h2>
      <p>Clique no botão abaixo</p>
      <button id="buttonShowDatePrompt" class="btn btn-primary"
        onclick="return formatDate(prompt('Digite uma data no formato MM/DD/YYYY'))"
      >Continuar</button>
    </div>

  </div>
</div>

<script type="text/javascript" src="js/formatDate.js"></script>

<script>
  // Em jQuery: $(document).ready( function() {} )
  document.addEventListener('DOMContentLoaded', () => {

    document.querySelector('#buttonShowDateTextField').addEventListener('click', (e) => {
      e.preventDefault()
      document.querySelector('#method1').style.display = ''
    })

  })

  function prepareFormatDate(selector, errorElementSelector) {
    const field = document.querySelector(selector)
    const errorElement = document.querySelector(errorElementSelector)

    if (field instanceof HTMLInputElement) {
      if (field.value.trim().match(/^\d{2}\/\d{2}\/\d{4}$/)) {
        formatDate(field.value)
        return
      }

      errorElement.innerHTML = 'Formato de data inválido, por favor, use MM/DD/YYYY'
      return
    }

    errorElement.innerHTML = 'Elemento HTML inválido'
  }
</script>